<div class="form-container">
  <h2>Create New Class</h2>
  
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="MyClass">
      <mat-error *ngIf="classForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    
    <div class="form-field-container">
      <app-class-type-selector
        (typeSelected)="onStateSelected($event)"
        [labelText]="'Class Type'">
      </app-class-type-selector>
    </div>
    
    <div class="form-field-container">
      <app-class-selector 
      (classSelected)="onClassSelected($event)" 
      [labelText]="'Select Base Class'">
    </app-class-selector>
    </div>
    
    <div class="form-field-container">
      <app-namespace-selector 
        (namespaceSelected)="onNamespaceSelected($event)" 
        [labelText]="'Select Namespace'">
      </app-namespace-selector>
    </div>
    
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="classForm.invalid">
        Create Class
      </button>
    </div>
  </form>
</div>