<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <h2>Simulator</h2>
    </div>

    <div class="custom-nav-buttons">
      <button mat-flat-button class="nav-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-flat-button class="nav-button highlight-button" routerLink="/execute">
        <mat-icon>play_arrow</mat-icon>
        <span>Execute method</span>
      </button>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>transformers</mat-icon>
            <span>Transformers</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/transformers">
          <mat-icon>transformers</mat-icon>
          <span>Execute transformed</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/transformers/get">
          <mat-icon>folder</mat-icon>
          <span>Get transformers</span>
        </button>

      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>folder</mat-icon>
            <span>Namespaces</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/namespaces/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Namespace</span>
        </button>

      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>class</mat-icon>
            <span>Classes</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/classes/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Class</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/classes/update">
          <mat-icon>edit</mat-icon>
          <span>Update Class</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/classes/delete">
          <mat-icon>delete</mat-icon>
          <span>Delete Class</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Attributes</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/attributes/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Attribute</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/attributes/update">
          <mat-icon>edit</mat-icon>
          <span>Update Attribute</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/attributes/delete">
          <mat-icon>delete</mat-icon>
          <span>Delete Attribute</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>functions</mat-icon>
            <span>Methods</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/methods/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Method</span>
        </button>

        <button mat-flat-button class="nav-button" routerLink="/methods/delete">
          <mat-icon>delete</mat-icon>
          <span>Delete Method</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>input</mat-icon>
            <span>Parameters</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/parameters/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Parameter</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>code</mat-icon>
            <span>Local Variables</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/variables/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Local Variable</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>call_made</mat-icon>
            <span>Invocations</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/invocations/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Invocation</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>all_out</mat-icon>
            <span>Implements</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/implements/create">
          <mat-icon>add_circle</mat-icon>
          <span>Create Implements</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel class="nav-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>school</mat-icon>
            <span>Design patterns</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-flat-button class="nav-button" routerLink="/patterns/strategy">
          <mat-icon>play_arrow</mat-icon>
          <span>Strategy</span>
        </button>
        <button mat-flat-button class="nav-button" routerLink="/patterns/templateMethod">
          <mat-icon>play_arrow</mat-icon>
          <span>Template method</span>
        </button>
        <button mat-flat-button class="nav-button" routerLink="/patterns/visitor">
          <mat-icon>play_arrow</mat-icon>
          <span>Visitor</span>
        </button>
      </mat-expansion-panel>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>