<div class="page-container">

    <h1>Create Class</h1>
    <label>Class name:</label>
    <input #classNameInput [value]="name" (input)="name = classNameInput.value" placeholder="Class Name"
        class="form-control" required>

    <app-class-selector [labelText]="'Select Base Class*'" (classSelected)="onClassSelected($event)"
        [reload]="loading"></app-class-selector>

    <app-namespace-selector [labelText]="'Select Namespace*'" (namespaceSelected)="onNamespaceSelected($event)"
        [reload]="loading"></app-namespace-selector>

    <app-accesibility-selector [labelText]="'Select State'"
        (typeSelected)="onStateSelected($event)"></app-accesibility-selector>

    <div *ngIf="successMessage">
        <p>{{ successMessage }}</p>
    </div>

    <div *ngIf="error">
        <p>{{ error }}</p>
    </div>

    <div class="create-button-container">
        <button class="btn-create" (click)="handleButtonClick()">
            <span class="material-icons">add_circle</span> Create Class
        </button>
    </div>
</div>