USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 01-Jun-25 1:33:07 AM ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[KeyValue] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[KeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLogs]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Execution] [nvarchar](max) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[ObjectCreate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invocations]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invocations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_Invocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVariables]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVariables](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LocalVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParameterSignatures]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParameterSignatures](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParameterSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[ReferenceType] [nvarchar](21) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceBase_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceParameter_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStatic_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStaticAttribute_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceThis_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceVariable_ReferenceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimAttributes]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[InstanceId] [uniqueidentifier] NULL,
	[Privacity] [int] NULL,
	[IsStatic] [bit] NOT NULL,
	[RelatedClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClasses]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[NamespaceId] [uniqueidentifier] NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_SimClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClassImplements]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClassImplements](
	[ImplementsId] [uniqueidentifier] NOT NULL,
	[SimClassId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SimClassImplements] PRIMARY KEY CLUSTERED 
(
	[ImplementsId] ASC,
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimMethods]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NULL,
	[RelatedClassId] [uniqueidentifier] NOT NULL,
	[Privacity] [int] NOT NULL,
	[Accesibility] [int] NOT NULL,
	[IsStatic] [bit] NOT NULL,
	[IsVirtual] [bit] NOT NULL,
	[IsOverride] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimNamespaces]    Script Date: 01-Jun-25 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimNamespaces](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BaseNamespaceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SimNamespaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250601004918_InitialCreate', N'8.0.4')
GO
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-aaaa-1111-1111-111111111111', N'validKey_1')
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-bbbb-1111-1111-111111111111', N'validKey_2')
GO
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'e3f8b10e-e887-4bbe-abd8-1597e510e922', N'Notificador.Notificar(aviso) -> Notificador.Notificar(aviso)
    aviso.Enviar() -> Email.Enviar()
    aviso.Confirmar() -> Notificacion.Confirmar()
    otroAviso.Enviar() -> Email.Enviar()
    otroAviso.Confirmar() -> Notificacion.Confirmar()
', N'Notificador', N'Notificador')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'b3781e63-37b1-436a-96d1-2ebc00977ed9', N'Auto.IniciarViaje() -> Auto.IniciarViaje()
    motorAuto.Encender() -> Motor.Encender()
', N'Auto', N'Auto')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'59c7c116-8646-4272-897f-371d7d9c89e4', N'Auto.IniciarViaje() -> Auto.IniciarViaje()
    motorAuto.Apagar() -> Motor.Apagar()
    motorAuto.Encender() -> Motor.Encender()
', N'Auto', N'Auto')
GO
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'3d3d4373-0392-43ae-a3f9-17fdfbca7741', N'3a71e736-09df-4627-97eb-520be08bf274', N'cf5c4594-3ac7-4e50-b00c-382cd5bffae1', N'5aa70a4c-102e-4fe6-83fa-bf56fab4785b', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'014b7537-1e2f-406f-92fb-1aa8b98830bd', N'4ca48307-746b-4317-b161-a776187bdc02', N'4023a944-5fde-4a09-9574-bffb967b427a', N'1d2f0830-a191-4d95-9564-fcc4097bda55', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'4e90811f-064b-4181-b3cc-4146c140c5cb', N'ba8e322d-b686-45ab-99dc-a12238df5372', N'a33e1cf7-2708-4f7c-98ee-ebeb791044c1', N'83cc3204-6d60-4bb6-be6e-6b8c200d8163', 0)
GO
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'c90201fe-2e8c-49ff-b033-190450d273eb', N'a168b072-74f3-4a65-a525-2e39d3ac450b', N'a168b072-74f3-4a65-a525-2e39d3ac450b', N'83cc3204-6d60-4bb6-be6e-6b8c200d8163', N'otroAviso')
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'1bc3d3f6-2405-448c-bc2c-94de11799644', N'f929692b-d149-4d26-8c60-315bf91c0dbb', N'f929692b-d149-4d26-8c60-315bf91c0dbb', N'ccf7383c-a110-4bc9-a756-1c31489d6964', N'input')
GO
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-1111-1111-1111-111111111111', 0, N'obj')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-2222-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 0, N'objA')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-3333-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 1, N'objB')
GO
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'5ee1a411-62cb-4e4f-a968-234fe58d4d5b', N'c70cef1b-26b6-4aef-83b1-b208e719a7cc', N'c70cef1b-26b6-4aef-83b1-b208e719a7cc', N'f958b02c-80ab-48a8-bff8-77402daa267b', 0, N'usuario')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'5f1d2582-5211-4bbe-b4b8-b7305c589963', N'44444444-1111-1111-1111-111111111111', N'44444444-1111-1111-1111-111111111111', N'76573892-9319-458a-baca-90b3e8f3e4c3', 0, N'mensaje')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'ada6122a-a0a6-41cb-97a0-f8ccdd087d77', N'c70cef1b-26b6-4aef-83b1-b208e719a7cc', N'c70cef1b-26b6-4aef-83b1-b208e719a7cc', N'd144a60c-dfb9-494d-86fb-7e6a7760c5ed', 0, N'usuario')
GO
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'a7eee158-b74b-420d-8ca4-05cd3df4690f', N'56112ce8-5259-4810-8ae6-d94b780acbcc', N'Attribute', N'a058495e-6044-440a-8d6b-97792b86e8c7', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'0bc97dea-5a85-4619-ad53-06d2820a71b2', N'0f8b8f3b-e29a-4226-afe0-dacb0d3e8b63', N'This', NULL, NULL, NULL, NULL, NULL, N'90fad296-a8ff-4552-8f22-53ce3159760e', NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'537f17f7-1228-43e4-bd05-08f6d2733248', N'89c3c3c7-12e4-4dd1-b01f-281d7838e917', N'Parameter', NULL, NULL, N'2e939d98-8b4e-4e1e-9a4e-4974785412b3', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'fb599aa9-d616-4662-9642-007abad66b98', N'ec558d0d-1354-473e-87f7-8fac1c6eab58', N'Encender')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'5bbfcb42-9078-40b2-ac8c-18ca8d211de3', N'd4e5d93d-c695-429c-a06c-9d085f695257', N'IniciarViaje')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'05bdca14-0a7c-40f9-b98d-20cae6e3c447', N'69135f43-fa13-46dd-ab9b-df43bf403c74', N'Apagar')
GO
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'2dcc6ce2-bb72-498e-9ce6-0b4453febd81', N'44444444-1111-1111-1111-111111111111', N'44444444-1111-1111-1111-111111111111', 0, 0, N'609079dc-d395-47a8-8c74-fcb83858f49b', N'clavePrivada')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'08dd335f-18e8-484c-b219-7e6607e9e53e', N'44444444-1111-1111-1111-111111111111', N'44444444-1111-1111-1111-111111111111', 2, 0, N'c70cef1b-26b6-4aef-83b1-b208e719a7cc', N'Nombre')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'a058495e-6044-440a-8d6b-97792b86e8c7', N'68610a6d-3cac-4d23-8ab0-f9b96c0675f4', N'68610a6d-3cac-4d23-8ab0-f9b96c0675f4', 0, 0, N'2f5f2308-4b11-401c-ba4f-54dd91518929', N'motorAuto')
GO
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'11111111-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', NULL, N'Object', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'33333333-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', N'11111111-1111-1111-1111-111111111111', N'byte', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'44444444-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', N'11111111-1111-1111-1111-111111111111', N'string', 2)
GO
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'e9223fdd-3d9d-4f05-87cb-05f74298f853', N'22222222-2222-2222-2222-222222222222', N'68610a6d-3cac-4d23-8ab0-f9b96c0675f4', 2, 2, 0, 1, 0, N'Encender')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-1111-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-2222-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
GO
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'00000000-1111-0000-0000-000000000001', N'System', NULL)
GO
/****** Object:  Index [IX_Invocations_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invocations_ReferenceId] ON [dbo].[Invocations]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invocations_RelatedMethodId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invocations_RelatedMethodId] ON [dbo].[Invocations]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_InstanceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_InstanceId] ON [dbo].[LocalVariables]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_ReferenceId] ON [dbo].[LocalVariables]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_RelatedMethodId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_RelatedMethodId] ON [dbo].[LocalVariables]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_ReferenceId] ON [dbo].[Parameters]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_RelatedMethodId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_RelatedMethodId] ON [dbo].[Parameters]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_InstanceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_InstanceId] ON [dbo].[ParameterSignatures]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_ReferenceId] ON [dbo].[ParameterSignatures]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_SignatureId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_SignatureId] ON [dbo].[ParameterSignatures]
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceBase_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceBase_ReferenceId] ON [dbo].[References]
(
	[ReferenceBase_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceId] ON [dbo].[References]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceParameter_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceParameter_ReferenceId] ON [dbo].[References]
(
	[ReferenceParameter_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStatic_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStatic_ReferenceId] ON [dbo].[References]
(
	[ReferenceStatic_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStaticAttribute_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStaticAttribute_ReferenceId] ON [dbo].[References]
(
	[ReferenceStaticAttribute_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceThis_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceThis_ReferenceId] ON [dbo].[References]
(
	[ReferenceThis_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceVariable_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceVariable_ReferenceId] ON [dbo].[References]
(
	[ReferenceVariable_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_RelatedInvocationId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Signatures_RelatedInvocationId] ON [dbo].[Signatures]
(
	[RelatedInvocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_InstanceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_InstanceId] ON [dbo].[SimAttributes]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_ReferenceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_ReferenceId] ON [dbo].[SimAttributes]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_RelatedClassId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_RelatedClassId] ON [dbo].[SimAttributes]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_BaseClassId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_BaseClassId] ON [dbo].[SimClasses]
(
	[BaseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_NamespaceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_NamespaceId] ON [dbo].[SimClasses]
(
	[NamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClassImplements_SimClassId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClassImplements_SimClassId] ON [dbo].[SimClassImplements]
(
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_RelatedClassId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_RelatedClassId] ON [dbo].[SimMethods]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_ReturnTypeId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_ReturnTypeId] ON [dbo].[SimMethods]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimNamespaces_BaseNamespaceId]    Script Date: 01-Jun-25 1:33:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimNamespaces_BaseNamespaceId] ON [dbo].[SimNamespaces]
(
	[BaseNamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invocations] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[ParameterSignatures] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_References_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[References] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_References_ReferenceId]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signatures] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId] FOREIGN KEY([ReferenceVariable_ReferenceId])
REFERENCES [dbo].[LocalVariables] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId] FOREIGN KEY([ReferenceParameter_ReferenceId])
REFERENCES [dbo].[Parameters] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId] FOREIGN KEY([ReferenceStaticAttribute_ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId] FOREIGN KEY([ReferenceBase_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId] FOREIGN KEY([ReferenceStatic_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId] FOREIGN KEY([ReferenceThis_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId] FOREIGN KEY([RelatedInvocationId])
REFERENCES [dbo].[Invocations] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId] FOREIGN KEY([NamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId] FOREIGN KEY([ImplementsId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId] FOREIGN KEY([SimClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimNamespaces]  WITH CHECK ADD  CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId] FOREIGN KEY([BaseNamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimNamespaces] CHECK CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId]
GO
USE [master]
GO
