USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[KeyValue] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[KeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLogs]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Execution] [nvarchar](max) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[ObjectCreate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invocations]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invocations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_Invocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVariables]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVariables](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LocalVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParameterSignatures]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParameterSignatures](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParameterSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[ReferenceType] [nvarchar](21) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceBase_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceParameter_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStatic_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStaticAttribute_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceThis_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceVariable_ReferenceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimAttributes]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[InstanceId] [uniqueidentifier] NULL,
	[Privacity] [int] NULL,
	[IsStatic] [bit] NOT NULL,
	[RelatedClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClasses]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[NamespaceId] [uniqueidentifier] NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_SimClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClassImplements]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClassImplements](
	[ImplementsId] [uniqueidentifier] NOT NULL,
	[SimClassId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SimClassImplements] PRIMARY KEY CLUSTERED 
(
	[ImplementsId] ASC,
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimMethods]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NULL,
	[RelatedClassId] [uniqueidentifier] NOT NULL,
	[Privacity] [int] NOT NULL,
	[Accesibility] [int] NOT NULL,
	[IsStatic] [bit] NOT NULL,
	[IsVirtual] [bit] NOT NULL,
	[IsOverride] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimNamespaces]    Script Date: 12-Jun-25 4:58:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimNamespaces](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BaseNamespaceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SimNamespaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602031101_InitialCreate', N'8.0.4')
GO
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-aaaa-1111-1111-111111111111', N'validKey_1')
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-bbbb-1111-1111-111111111111', N'validKey_2')
GO
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'06865175-2bc7-42bb-b493-0d556d7b6c75', N'Publicacion.Aceptar(visitorCaritas) -> Historia.Aceptar(visitorCaritas)
    v.VisitarHistoria(this) -> FiltroCaritas.VisitarHistoria(this)
', N'Publicacion', N'Historia')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'445b643e-201a-46bf-b2d0-ecf55ca8bafa', N'Publicacion.Aceptar(visitorCaritas) -> Historia.Aceptar(visitorCaritas)
    v.VisitarHistoria(this) -> FiltroBYN.VisitarHistoria(this)
', N'Publicacion', N'Historia')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'5a31fa3f-0271-4ebd-b7a2-ed96ff0fcf26', N'Publicacion.Aceptar(visitorCaritas) -> Reel.Aceptar(visitorCaritas)
    v.VisitarReel(this) -> FiltroBYN.VisitarReel(this)
', N'Publicacion', N'Reel')
GO
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'3b0f3d77-fded-40c3-b085-3f38b3c9f47f', N'130f2832-0eb0-4fd7-b150-73c9648a362f', N'a1fcc2ab-16ed-4b51-a2b3-6740b4aad2e2', N'731ba0c3-7461-4d83-b93c-f393f7b1daf5', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'3d9bb08c-25ea-416a-b0b3-cc024fe40845', N'0443e5ca-8a7a-45a6-a046-7a504004b300', N'f5491009-6812-4a58-a9a1-17f13b7f07bc', N'5ddaeb0a-86c8-4c34-90c6-2f4d0a113f74', 0)
GO
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-1111-1111-1111-111111111111', 0, N'obj')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-2222-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 0, N'objA')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-3333-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 1, N'objB')
GO
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'0e0c2525-1bc0-470c-827c-47dc154d79f5', N'fd0a54db-cdcb-4074-98f6-81e32b10c376', N'fd0a54db-cdcb-4074-98f6-81e32b10c376', N'f5491009-6812-4a58-a9a1-17f13b7f07bc', 0, N'this')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'1ce7e2d9-b4ee-433a-9789-81095ff446a7', N'39d7c1d8-00a4-44b9-acf8-ef6bbdbbd0d9', N'39d7c1d8-00a4-44b9-acf8-ef6bbdbbd0d9', N'a1fcc2ab-16ed-4b51-a2b3-6740b4aad2e2', 0, N'this')
GO
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'130f2832-0eb0-4fd7-b150-73c9648a362f', N'3b0f3d77-fded-40c3-b085-3f38b3c9f47f', N'Parameter', NULL, NULL, N'3c607ae5-eff1-4996-9400-c1432650b1ba', NULL, NULL, NULL, NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'0443e5ca-8a7a-45a6-a046-7a504004b300', N'3d9bb08c-25ea-416a-b0b3-cc024fe40845', N'Parameter', NULL, NULL, N'f4c46058-6128-405a-bfc4-93e65b236aed', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'f5491009-6812-4a58-a9a1-17f13b7f07bc', N'3d9bb08c-25ea-416a-b0b3-cc024fe40845', N'VisitarReel', N'22222222-2222-2222-2222-222222222222')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'a1fcc2ab-16ed-4b51-a2b3-6740b4aad2e2', N'3b0f3d77-fded-40c3-b085-3f38b3c9f47f', N'VisitarHistoria', N'22222222-2222-2222-2222-222222222222')
GO
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'11111111-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', NULL, N'Object', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'33333333-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', N'11111111-1111-1111-1111-111111111111', N'byte', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'44444444-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', N'11111111-1111-1111-1111-111111111111', N'string', 2)
GO
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'b1ba9ec7-f138-41f0-92bc-8c25b63244f1', N'fd0a54db-cdcb-4074-98f6-81e32b10c376')
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'27b8e0dd-94f3-4ffc-800b-6110c31729b6', N'4256e815-6b32-4419-b59f-a220da8a0c32')
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'27b8e0dd-94f3-4ffc-800b-6110c31729b6', N'c39859f7-0a0c-4b0e-b04e-ca3438236923')
GO
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-1111-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-2222-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-3333-1111-1111-111111111111', N'22222222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 1, 2, 0, 1, 1, N'Finalize')
GO
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'00000000-1111-0000-0000-000000000001', N'System', NULL)
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'99143171-76d5-4e20-a566-2c008c630dca', N'PatronVisitor', NULL)
GO
/****** Object:  Index [IX_Invocations_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invocations_ReferenceId] ON [dbo].[Invocations]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invocations_RelatedMethodId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invocations_RelatedMethodId] ON [dbo].[Invocations]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_InstanceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_InstanceId] ON [dbo].[LocalVariables]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_ReferenceId] ON [dbo].[LocalVariables]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_RelatedMethodId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_RelatedMethodId] ON [dbo].[LocalVariables]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_ReferenceId] ON [dbo].[Parameters]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_RelatedMethodId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_RelatedMethodId] ON [dbo].[Parameters]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_InstanceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_InstanceId] ON [dbo].[ParameterSignatures]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_ReferenceId] ON [dbo].[ParameterSignatures]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_SignatureId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_SignatureId] ON [dbo].[ParameterSignatures]
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceBase_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceBase_ReferenceId] ON [dbo].[References]
(
	[ReferenceBase_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceId] ON [dbo].[References]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceParameter_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceParameter_ReferenceId] ON [dbo].[References]
(
	[ReferenceParameter_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStatic_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStatic_ReferenceId] ON [dbo].[References]
(
	[ReferenceStatic_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStaticAttribute_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStaticAttribute_ReferenceId] ON [dbo].[References]
(
	[ReferenceStaticAttribute_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceThis_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceThis_ReferenceId] ON [dbo].[References]
(
	[ReferenceThis_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceVariable_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceVariable_ReferenceId] ON [dbo].[References]
(
	[ReferenceVariable_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_RelatedInvocationId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Signatures_RelatedInvocationId] ON [dbo].[Signatures]
(
	[RelatedInvocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_ReturnTypeId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Signatures_ReturnTypeId] ON [dbo].[Signatures]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_InstanceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_InstanceId] ON [dbo].[SimAttributes]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_ReferenceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_ReferenceId] ON [dbo].[SimAttributes]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_RelatedClassId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_RelatedClassId] ON [dbo].[SimAttributes]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_BaseClassId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_BaseClassId] ON [dbo].[SimClasses]
(
	[BaseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_NamespaceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_NamespaceId] ON [dbo].[SimClasses]
(
	[NamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClassImplements_SimClassId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClassImplements_SimClassId] ON [dbo].[SimClassImplements]
(
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_RelatedClassId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_RelatedClassId] ON [dbo].[SimMethods]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_ReturnTypeId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_ReturnTypeId] ON [dbo].[SimMethods]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimNamespaces_BaseNamespaceId]    Script Date: 12-Jun-25 4:58:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimNamespaces_BaseNamespaceId] ON [dbo].[SimNamespaces]
(
	[BaseNamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invocations] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[ParameterSignatures] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_References_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[References] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_References_ReferenceId]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signatures] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId] FOREIGN KEY([ReferenceVariable_ReferenceId])
REFERENCES [dbo].[LocalVariables] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId] FOREIGN KEY([ReferenceParameter_ReferenceId])
REFERENCES [dbo].[Parameters] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId] FOREIGN KEY([ReferenceStaticAttribute_ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId] FOREIGN KEY([ReferenceBase_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId] FOREIGN KEY([ReferenceStatic_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId] FOREIGN KEY([ReferenceThis_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId] FOREIGN KEY([RelatedInvocationId])
REFERENCES [dbo].[Invocations] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId] FOREIGN KEY([NamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId] FOREIGN KEY([ImplementsId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId] FOREIGN KEY([SimClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimNamespaces]  WITH CHECK ADD  CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId] FOREIGN KEY([BaseNamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimNamespaces] CHECK CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId]
GO
USE [master]
GO
