USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 18-Jun-25 3:57:10 AM ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[KeyValue] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[KeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLogs]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Execution] [nvarchar](max) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[ObjectCreate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invocations]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invocations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_Invocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVariables]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVariables](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LocalVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParameterSignatures]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParameterSignatures](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParameterSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[ReferenceType] [nvarchar](21) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceBase_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceParameter_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStatic_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStaticAttribute_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceThis_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceVariable_ReferenceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimAttributes]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[InstanceId] [uniqueidentifier] NULL,
	[Privacity] [int] NULL,
	[IsStatic] [bit] NOT NULL,
	[RelatedClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClasses]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[NamespaceId] [uniqueidentifier] NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_SimClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClassImplements]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClassImplements](
	[ImplementsId] [uniqueidentifier] NOT NULL,
	[SimClassId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SimClassImplements] PRIMARY KEY CLUSTERED 
(
	[ImplementsId] ASC,
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimMethods]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NULL,
	[RelatedClassId] [uniqueidentifier] NOT NULL,
	[Privacity] [int] NOT NULL,
	[Accesibility] [int] NOT NULL,
	[IsStatic] [bit] NOT NULL,
	[IsVirtual] [bit] NOT NULL,
	[IsOverride] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimNamespaces]    Script Date: 18-Jun-25 3:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimNamespaces](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BaseNamespaceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SimNamespaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602031101_InitialCreate', N'8.0.4')
GO
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-aaaa-1111-1111-111111111111', N'validKey_1')
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-bbbb-1111-1111-111111111111', N'validKey_2')
GO
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'58c121d5-cd96-4c0c-a8e1-0907d9823edc', N'Publicacion.Aceptar(visitorCaritas: Visitante FiltroCaritas) -> Reel.Aceptar(visitorCaritas: Visitante FiltroCaritas)
    v.VisitarReel(this: Reel Reel) -> FiltroCaritas.VisitarReel(this: Reel Reel)
', N'Publicacion', N'Reel')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'54b4ab9a-044b-4e1d-8c2a-114c2f1d5d6c', N'Notificador.Notificar(aviso: Notificacion Email) -> Notificador.Notificar(aviso: Notificacion Email)
    aviso.Enviar() -> Email.Enviar()
    aviso.Confirmar() -> Notificacion.Confirmar()
    otroAviso.Enviar() -> Email.Enviar()
    otroAviso.Confirmar() -> Notificacion.Confirmar()
', N'Notificador', N'Notificador')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'6365f899-6272-43b3-9858-1480aebad440', N'Publicacion.Aceptar(visitorCaritas: Visitante FiltroBYN) -> Reel.Aceptar(visitorCaritas: Visitante FiltroBYN)
    v.VisitarReel(this: Reel Reel) -> FiltroBYN.VisitarReel(this: Reel Reel)
', N'Publicacion', N'Reel')
GO
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'cd055cdf-fadc-40a2-ae04-02a6472a6799', N'946bad77-22d8-4415-a6d5-f246473b724c', N'e09ef2e9-96f8-4c3b-91e7-ff7566bb1a0f', N'0bb3333e-efd0-469e-b469-8ed2c261ea95', 1)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'fa5e7d3d-ae71-497a-b75f-135cea672f7f', N'7b5b668a-fe4c-428f-8a9c-ca0f07f63548', N'6a4daa69-5d30-413d-a9a9-180333bd813a', N'9b2be72a-7f41-43d3-88b4-c6cce88e211d', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'3b11f4a5-f0f4-43f8-85bf-17621dfc3234', N'94498f9b-7263-4c6d-b2bf-1fdbb4e6d018', N'65a92c1e-3d59-4f65-a5c6-c946f4d3f99a', N'8cf5d189-2d5c-4f3a-b9b9-26a007a67d93', 0)
GO
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'496a2235-7461-4902-a5db-42c4c4bffd52', N'45b88b14-e018-4b98-bdf5-b77a9a4cc7fe', N'45b88b14-e018-4b98-bdf5-b77a9a4cc7fe', N'26c3a881-9cbd-43b8-bd3a-7dda2c4df206', N'pepperoniQueso')
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'91b1e6b7-5182-4e84-844b-5628267d2898', N'597f8d01-c550-41dc-9839-25cc8eeead17', N'597f8d01-c550-41dc-9839-25cc8eeead17', N'40bcc810-9bbf-49ec-9cfa-fb7029326c60', N'input')
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'112c81fe-1b57-45f7-b67c-cb3d71ac7e33', N'440bba9a-acab-4d71-8720-c858c4016244', N'440bba9a-acab-4d71-8720-c858c4016244', N'e85015cb-ce53-4103-bbf5-6a7a44677908', N'otroAviso')
GO
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'be0d6844-e6f1-4ca5-b257-0296a9f64386', N'a867c1d6-d168-4822-92a5-5ceb71626c4e', N'8cf5d189-2d5c-4f3a-b9b9-26a007a67d93', 0, N'ipar')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'49d0d640-1fbb-4724-8ce1-0ce855bfdd85', N'39543612-ba65-4a51-9982-0a6f825a7533', N'802147e7-53da-4771-9ffb-a8ebbcff9903', 0, N'v')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-1111-1111-1111-111111111111', 0, N'obj')
GO
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'4d29498c-5dab-42f0-b04c-04f536ea0763', N'4de6a172-c616-4699-9e4b-d9e7334337d3', N'4de6a172-c616-4699-9e4b-d9e7334337d3', N'534a69b1-e0f7-4759-a788-968a14f88de4', 0, N'cliente')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'25dee974-a64d-4951-a618-056667323419', N'11111111-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'93cbe839-718e-43e1-abfd-ff26530a5146', 1, N'objeto2')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'85405026-00e6-429a-98bb-12dbf55da089', N'44444444-1111-1111-1111-111111111111', N'44444444-1111-1111-1111-111111111111', N'ce196728-2182-4e2c-b4b1-c438d11f9cb3', 0, N'string')
GO
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'0088d1ea-a472-476d-a8ed-05bacbcb0245', N'a9d7d936-7326-4d01-b050-41a756a771e3', N'Attribute', N'b6bc9331-276a-4671-834c-de555655c81e', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'ede437e6-0484-458d-b10a-0c5c4a5c6e22', N'5825fc69-2fc8-420e-b91d-970de061cd1d', N'This', NULL, NULL, NULL, NULL, NULL, N'25981152-35e2-4cae-a743-762cab45af94', NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'1661263c-9eda-46da-af88-10e3c72102c7', N'3c556862-d2d4-4a96-b796-97b587bcd8fe', N'Base', NULL, N'6d0b56bd-5afa-4b3d-9d72-7beba4800425', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'4460bc26-2b9d-4746-b45a-08781790a963', N'5685e18f-cbf8-416d-8914-6105c8ae9376', N'Confirmar', N'22222222-2222-2222-2222-222222222222')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'2e3fd22e-b905-40e2-99a7-12ce8e25212c', N'9b63ec24-08e9-45b6-bdde-35e6032d7bc6', N'ComprobarInventario', N'22223222-2222-2222-2222-222222222222')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'6a4daa69-5d30-413d-a9a9-180333bd813a', N'fa5e7d3d-ae71-497a-b75f-135cea672f7f', N'condimentar', N'22222222-2222-2222-2222-222222222222')
GO
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'22748fde-50d8-460c-a601-4f2dd14f3fa5', N'0429b2e7-c01b-430d-8e82-4468a1e90124', N'0429b2e7-c01b-430d-8e82-4468a1e90124', 1, 0, N'de12915b-662a-4464-ad29-ffe3211eb5e2', N'notificador')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'07203853-69fa-455b-bf14-88abbf729834', N'82a0f6ae-a9c4-4eba-8fea-9e339ef8b2f9', N'82a0f6ae-a9c4-4eba-8fea-9e339ef8b2f9', 0, 0, N'66cf9b92-657e-4e68-ac3c-316b41bdb39b', N'motorAuto')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'a0675205-f7e9-4ef5-93cd-985499bdb994', N'11111111-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', 2, 1, N'5a6032ee-e278-4852-a4f8-76b1f93d18e7', N'atributoStatic')
GO
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'39543612-ba65-4a51-9982-0a6f825a7533', N'19440348-6b91-4578-a9e8-2b6bd1819454', N'11111111-1111-1111-1111-111111111111', N'Visitante', 3)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'11111111-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', NULL, N'Object', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'33333333-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', N'11111111-1111-1111-1111-111111111111', N'byte', 2)
GO
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'b27b0c0b-9c4b-4f19-a9d7-84d29554cbc6', N'f9681b3e-9f95-4ac9-8a69-2b68e2c8b4b9')
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'b27b0c0b-9c4b-4f19-a9d7-84d29554cbc6', N'ee8461c4-5a6f-492f-b70c-2bc14d234f0d')
INSERT [dbo].[SimClassImplements] ([ImplementsId], [SimClassId]) VALUES (N'39543612-ba65-4a51-9982-0a6f825a7533', N'2ec687dc-feb6-407b-b4b0-4280fdb6c5cf')
GO
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'37366665-933f-4e61-8071-0cd08ab8446a', N'22222222-2222-2222-2222-222222222222', N'053a2387-4d95-4242-87cd-dca5972f95f6', 1, 1, 0, 0, 0, N'agregarIngredientes')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-1111-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-2222-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
GO
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'00000000-1111-0000-0000-000000000001', N'System', NULL)
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'8e075065-a0e9-44ce-b107-1fd38ab24d17', N'EstaticoEjemplo', NULL)
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'19440348-6b91-4578-a9e8-2b6bd1819454', N'PatronVisitor', NULL)
GO
/****** Object:  Index [IX_Invocations_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invocations_ReferenceId] ON [dbo].[Invocations]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invocations_RelatedMethodId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invocations_RelatedMethodId] ON [dbo].[Invocations]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_InstanceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_InstanceId] ON [dbo].[LocalVariables]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_ReferenceId] ON [dbo].[LocalVariables]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_RelatedMethodId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_RelatedMethodId] ON [dbo].[LocalVariables]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_ReferenceId] ON [dbo].[Parameters]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_RelatedMethodId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_RelatedMethodId] ON [dbo].[Parameters]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_InstanceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_InstanceId] ON [dbo].[ParameterSignatures]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_ReferenceId] ON [dbo].[ParameterSignatures]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_SignatureId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_SignatureId] ON [dbo].[ParameterSignatures]
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceBase_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceBase_ReferenceId] ON [dbo].[References]
(
	[ReferenceBase_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceId] ON [dbo].[References]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceParameter_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceParameter_ReferenceId] ON [dbo].[References]
(
	[ReferenceParameter_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStatic_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStatic_ReferenceId] ON [dbo].[References]
(
	[ReferenceStatic_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStaticAttribute_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStaticAttribute_ReferenceId] ON [dbo].[References]
(
	[ReferenceStaticAttribute_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceThis_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceThis_ReferenceId] ON [dbo].[References]
(
	[ReferenceThis_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceVariable_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceVariable_ReferenceId] ON [dbo].[References]
(
	[ReferenceVariable_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_RelatedInvocationId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Signatures_RelatedInvocationId] ON [dbo].[Signatures]
(
	[RelatedInvocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_ReturnTypeId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Signatures_ReturnTypeId] ON [dbo].[Signatures]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_InstanceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_InstanceId] ON [dbo].[SimAttributes]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_ReferenceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_ReferenceId] ON [dbo].[SimAttributes]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_RelatedClassId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_RelatedClassId] ON [dbo].[SimAttributes]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_BaseClassId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_BaseClassId] ON [dbo].[SimClasses]
(
	[BaseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_NamespaceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_NamespaceId] ON [dbo].[SimClasses]
(
	[NamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClassImplements_SimClassId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClassImplements_SimClassId] ON [dbo].[SimClassImplements]
(
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_RelatedClassId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_RelatedClassId] ON [dbo].[SimMethods]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_ReturnTypeId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_ReturnTypeId] ON [dbo].[SimMethods]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimNamespaces_BaseNamespaceId]    Script Date: 18-Jun-25 3:57:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimNamespaces_BaseNamespaceId] ON [dbo].[SimNamespaces]
(
	[BaseNamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invocations] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[ParameterSignatures] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_References_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[References] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_References_ReferenceId]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signatures] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId] FOREIGN KEY([ReferenceVariable_ReferenceId])
REFERENCES [dbo].[LocalVariables] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId] FOREIGN KEY([ReferenceParameter_ReferenceId])
REFERENCES [dbo].[Parameters] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId] FOREIGN KEY([ReferenceStaticAttribute_ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId] FOREIGN KEY([ReferenceBase_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId] FOREIGN KEY([ReferenceStatic_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId] FOREIGN KEY([ReferenceThis_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId] FOREIGN KEY([RelatedInvocationId])
REFERENCES [dbo].[Invocations] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId] FOREIGN KEY([NamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId] FOREIGN KEY([ImplementsId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId] FOREIGN KEY([SimClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimNamespaces]  WITH CHECK ADD  CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId] FOREIGN KEY([BaseNamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimNamespaces] CHECK CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId]
GO
USE [master]
GO
