USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiKeys]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeys](
	[KeyValue] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[KeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLogs]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Execution] [nvarchar](max) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[ObjectCreate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invocations]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invocations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_Invocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVariables]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVariables](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LocalVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParameterSignatures]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParameterSignatures](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NOT NULL,
	[InstanceId] [uniqueidentifier] NOT NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParameterSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[ReferenceType] [nvarchar](21) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceBase_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceParameter_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStatic_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceStaticAttribute_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceThis_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceVariable_ReferenceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimAttributes]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[InstanceId] [uniqueidentifier] NULL,
	[Privacity] [int] NULL,
	[IsStatic] [bit] NOT NULL,
	[RelatedClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClasses]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[NamespaceId] [uniqueidentifier] NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_SimClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClassImplements]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClassImplements](
	[ImplementsId] [uniqueidentifier] NOT NULL,
	[SimClassId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SimClassImplements] PRIMARY KEY CLUSTERED 
(
	[ImplementsId] ASC,
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimMethods]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NULL,
	[RelatedClassId] [uniqueidentifier] NOT NULL,
	[Privacity] [int] NOT NULL,
	[Accesibility] [int] NOT NULL,
	[IsStatic] [bit] NOT NULL,
	[IsVirtual] [bit] NOT NULL,
	[IsOverride] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimNamespaces]    Script Date: 09-Jun-25 5:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimNamespaces](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BaseNamespaceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SimNamespaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602031101_InitialCreate', N'8.0.4')
GO
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-aaaa-1111-1111-111111111111', N'validKey_1')
INSERT [dbo].[ApiKeys] ([KeyValue], [Name]) VALUES (N'77777777-bbbb-1111-1111-111111111111', N'validKey_2')
GO
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'4e496d7a-bf7d-451d-8fd8-4d8a99e35907', N'Validador.Validar() -> Validador.Validar()
    input.EsValido() -> EntradaTextoEspecial.EsValido()
        base.EsValido() -> EntradaTexto.EsValido()
            base.EsValido() -> Entrada.EsValido()
                this.Inicializar() -> Entrada.Inicializar()
            this.Limpiar() -> Entrada.Limpiar()
', N'Validador', N'Validador')
GO
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'750bbe8a-9663-419e-98be-073c4230a621', N'de98f65f-faf8-4392-afe1-e28a0a9a50ae', N'dc788c3c-9d8c-494e-996c-735dcacdca87', N'62efe306-2267-4bf3-9c47-8c69f844c7f0', 2)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'e340670e-5d38-4156-921b-0eff14d32db9', N'17ac0b24-a26b-4554-aacf-d07e761d125f', N'0068a170-f607-4165-afc7-a82ce678479e', N'c5540f1a-e217-44e9-bcd1-5b7ed8be44d2', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'aa32ea7b-82a6-4f7d-9af4-1a304183cac8', N'54c291dd-6d22-4ea4-90af-05d8fd6e522e', N'bb4d70b7-293b-4a83-8b4a-b5be334c92ac', N'ad65ad91-908f-4c2c-93ad-a573e5ae2ec9', 1)
GO
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'4db8c778-5313-4daf-9a10-919b7eaafe94', N'd24ee440-1084-4fae-a163-4e9e8f510fe8', N'd24ee440-1084-4fae-a163-4e9e8f510fe8', N'76b559c2-3cd1-400d-b36b-6bd2322e916b', N'input')
INSERT [dbo].[LocalVariables] ([Id], [ReferenceId], [InstanceId], [RelatedMethodId], [Name]) VALUES (N'43de2e92-75e2-4171-9437-9fb2fb2c8671', N'2513b9f9-e81b-4c97-9617-f27d3f6eb43f', N'2513b9f9-e81b-4c97-9617-f27d3f6eb43f', N'e98baa3c-5ee9-4626-9a12-c3246230aeb8', N'otroAviso')
GO
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'4b9778e8-918d-4ed7-8934-0fce7d5a1572', N'2defe96e-9dfc-4c79-88e4-3d7d2e3a3849', N'3fc79706-c0a5-4863-8747-d5ac132c6772', 0, N'usuario')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-1111-1111-1111-111111111111', 0, N'obj')
INSERT [dbo].[Parameters] ([Id], [ReferenceId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-2222-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 0, N'objA')
GO
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'9890bbc3-546b-4436-9b2a-15552a095199', N'08ac28ea-28cc-4519-bce0-69083f60a42b', N'08ac28ea-28cc-4519-bce0-69083f60a42b', N'a533c2e5-3a70-497b-81b9-7e9501c93938', 0, N'cliente')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'b44aa037-b071-4b0a-856f-2524ee98445b', N'44444444-1111-1111-1111-111111111111', N'44444444-1111-1111-1111-111111111111', N'f6f77f57-7b48-4112-8a39-3d965a55e062', 0, N'mensaje')
INSERT [dbo].[ParameterSignatures] ([Id], [ReferenceId], [InstanceId], [SignatureId], [Index], [Name]) VALUES (N'bc0d46f4-e3fb-451d-bb3d-3d85b56efcdd', N'2defe96e-9dfc-4c79-88e4-3d7d2e3a3849', N'2defe96e-9dfc-4c79-88e4-3d7d2e3a3849', N'dc788c3c-9d8c-494e-996c-735dcacdca87', 0, N'usuario')
GO
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'54c291dd-6d22-4ea4-90af-05d8fd6e522e', N'aa32ea7b-82a6-4f7d-9af4-1a304183cac8', N'This', NULL, NULL, NULL, NULL, NULL, N'5a6f1a9d-8f24-4cdc-8f49-750b068d3db2', NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'97bae42e-b873-4985-8a24-0e991cdb3515', N'96b398f2-3063-4713-8a11-cb70d9498265', N'This', NULL, NULL, NULL, NULL, NULL, N'e929c57c-dac7-486a-86da-4798de09ce34', NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceStatic_ReferenceId], [ReferenceStaticAttribute_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'effc8215-259d-4106-8684-1054f0e6a8ca', N'f820f40b-afda-4dfa-9e02-b95f228c3d3b', N'Attribute', N'e3802f4e-981d-45d6-ab53-3fd5aa6a6ad5', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'1f835e27-e59d-4dbf-80cc-0f94c6305dce', N'01b7fd11-07e3-4ab4-9c66-65080ed0fe70', N'ToString', N'44444444-1111-1111-1111-111111111111')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'23754dfd-f6ba-4954-828d-182d05f2417c', N'96b398f2-3063-4713-8a11-cb70d9498265', N'RealizarProceso', N'22222222-2222-2222-2222-222222222222')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name], [ReturnTypeId]) VALUES (N'ccf73d9e-e7fb-465e-8833-32333d66fd3a', N'81cae496-1e0e-404d-b6ac-739057639300', N'EsValido', N'22223222-2222-2222-2222-222222222222')
GO
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'65f3ae3d-aac3-4332-9261-25d0d34b5ea3', N'18ef1371-8433-42bc-980e-476bc50cc872', N'18ef1371-8433-42bc-980e-476bc50cc872', 0, 0, N'621d51d2-a659-45e9-b81a-0739cb3e5fc5', N'loggerLocal')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'e3802f4e-981d-45d6-ab53-3fd5aa6a6ad5', N'c3be4ac2-a895-435a-92b2-550a61e8bcba', N'c3be4ac2-a895-435a-92b2-550a61e8bcba', 1, 0, N'e929c57c-dac7-486a-86da-4798de09ce34', N'notificador')
INSERT [dbo].[SimAttributes] ([Id], [ReferenceId], [InstanceId], [Privacity], [IsStatic], [RelatedClassId], [Name]) VALUES (N'1610b641-1d46-4328-9008-421a8219223b', N'e7bbb5c0-e0d3-4ff2-ac9b-0a07e7aad961', N'e7bbb5c0-e0d3-4ff2-ac9b-0a07e7aad961', 0, 0, N'd6566e7b-04ca-4de3-abe4-85e73e42f422', N'motorAuto')
GO
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'621d51d2-a659-45e9-b81a-0739cb3e5fc5', N'4425af66-f347-4cc9-b331-e8b9fa3f656a', N'11111111-1111-1111-1111-111111111111', N'Autenticador', 1)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'e7bbb5c0-e0d3-4ff2-ac9b-0a07e7aad961', N'8cb5859e-8341-4dc1-9756-6bae2edb4818', N'11111111-1111-1111-1111-111111111111', N'Motor', 2)
INSERT [dbo].[SimClasses] ([Id], [NamespaceId], [BaseClassId], [Name], [State]) VALUES (N'11111111-1111-1111-1111-111111111111', N'00000000-1111-0000-0000-000000000001', NULL, N'Object', 2)
GO
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'a3bdada7-e1d0-4c28-82f0-00fe3cb447c9', N'22222222-2222-2222-2222-222222222222', N'e7bbb5c0-e0d3-4ff2-ac9b-0a07e7aad961', 2, 2, 0, 1, 0, N'Apagar')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'e68b5f57-52ad-44b1-9ba2-020bd7511ad4', N'22223222-2222-2222-2222-222222222222', N'6722c439-142d-4eca-94a3-4d636ee7594c', 0, 2, 0, 1, 0, N'ComprobarInventario')
INSERT [dbo].[SimMethods] ([Id], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility], [IsStatic], [IsVirtual], [IsOverride], [Name]) VALUES (N'55555555-1111-1111-1111-111111111111', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2, 0, 1, 1, N'Equals')
GO
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'00000000-1111-0000-0000-000000000001', N'System', NULL)
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'a8599d51-b72e-4fa2-ae09-5a85abc10f8d', N'Ejemplo2', NULL)
INSERT [dbo].[SimNamespaces] ([Id], [Name], [BaseNamespaceId]) VALUES (N'8cb5859e-8341-4dc1-9756-6bae2edb4818', N'Ejemplo1', NULL)
GO
/****** Object:  Index [IX_Invocations_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invocations_ReferenceId] ON [dbo].[Invocations]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invocations_RelatedMethodId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invocations_RelatedMethodId] ON [dbo].[Invocations]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_InstanceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_InstanceId] ON [dbo].[LocalVariables]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_ReferenceId] ON [dbo].[LocalVariables]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_RelatedMethodId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_RelatedMethodId] ON [dbo].[LocalVariables]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_ReferenceId] ON [dbo].[Parameters]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_RelatedMethodId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_RelatedMethodId] ON [dbo].[Parameters]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_InstanceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_InstanceId] ON [dbo].[ParameterSignatures]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_ReferenceId] ON [dbo].[ParameterSignatures]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_SignatureId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_SignatureId] ON [dbo].[ParameterSignatures]
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceBase_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceBase_ReferenceId] ON [dbo].[References]
(
	[ReferenceBase_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceId] ON [dbo].[References]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceParameter_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceParameter_ReferenceId] ON [dbo].[References]
(
	[ReferenceParameter_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStatic_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStatic_ReferenceId] ON [dbo].[References]
(
	[ReferenceStatic_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceStaticAttribute_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceStaticAttribute_ReferenceId] ON [dbo].[References]
(
	[ReferenceStaticAttribute_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceThis_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceThis_ReferenceId] ON [dbo].[References]
(
	[ReferenceThis_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceVariable_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceVariable_ReferenceId] ON [dbo].[References]
(
	[ReferenceVariable_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_RelatedInvocationId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Signatures_RelatedInvocationId] ON [dbo].[Signatures]
(
	[RelatedInvocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_ReturnTypeId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Signatures_ReturnTypeId] ON [dbo].[Signatures]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_InstanceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_InstanceId] ON [dbo].[SimAttributes]
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_ReferenceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_ReferenceId] ON [dbo].[SimAttributes]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_RelatedClassId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_RelatedClassId] ON [dbo].[SimAttributes]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_BaseClassId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_BaseClassId] ON [dbo].[SimClasses]
(
	[BaseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_NamespaceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_NamespaceId] ON [dbo].[SimClasses]
(
	[NamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClassImplements_SimClassId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimClassImplements_SimClassId] ON [dbo].[SimClassImplements]
(
	[SimClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_RelatedClassId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_RelatedClassId] ON [dbo].[SimMethods]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_ReturnTypeId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_ReturnTypeId] ON [dbo].[SimMethods]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimNamespaces_BaseNamespaceId]    Script Date: 09-Jun-25 5:52:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SimNamespaces_BaseNamespaceId] ON [dbo].[SimNamespaces]
(
	[BaseNamespaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invocations] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[ParameterSignatures] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_References_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[References] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_References_ReferenceId]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signatures] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId] FOREIGN KEY([ReferenceVariable_ReferenceId])
REFERENCES [dbo].[LocalVariables] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId] FOREIGN KEY([ReferenceParameter_ReferenceId])
REFERENCES [dbo].[Parameters] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId] FOREIGN KEY([ReferenceStaticAttribute_ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceStaticAttribute_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId] FOREIGN KEY([ReferenceBase_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId] FOREIGN KEY([ReferenceStatic_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceStatic_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId] FOREIGN KEY([ReferenceThis_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId] FOREIGN KEY([RelatedInvocationId])
REFERENCES [dbo].[Invocations] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId] FOREIGN KEY([InstanceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_InstanceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_ReferenceId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId] FOREIGN KEY([NamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimNamespaces_NamespaceId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId] FOREIGN KEY([ImplementsId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_ImplementsId]
GO
ALTER TABLE [dbo].[SimClassImplements]  WITH CHECK ADD  CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId] FOREIGN KEY([SimClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClassImplements] CHECK CONSTRAINT [FK_SimClassImplements_SimClasses_SimClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId]
GO
ALTER TABLE [dbo].[SimNamespaces]  WITH CHECK ADD  CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId] FOREIGN KEY([BaseNamespaceId])
REFERENCES [dbo].[SimNamespaces] ([Id])
GO
ALTER TABLE [dbo].[SimNamespaces] CHECK CONSTRAINT [FK_SimNamespaces_SimNamespaces_BaseNamespaceId]
GO
USE [master]
GO
