USE [master]
GO
/****** Object:  Database [Simulator]    Script Date: 6/5/2025 4:22:53 ******/
CREATE DATABASE [Simulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simulator', FILENAME = N'D:\Programas\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\Simulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simulator_log', FILENAME = N'D:\Programas\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\Simulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simulator]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionLogs]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Execution] [nvarchar](max) NOT NULL,
	[Reference] [nvarchar](max) NOT NULL,
	[ObjectCreate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invocations]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invocations](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_Invocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalVariables]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalVariables](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LocalVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[RelatedMethodId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParameterSignatures]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParameterSignatures](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[Index] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParameterSignatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[ReferenceType] [nvarchar](13) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[ReferenceBase_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceParameter_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceThis_ReferenceId] [uniqueidentifier] NULL,
	[ReferenceVariable_ReferenceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [uniqueidentifier] NOT NULL,
	[RelatedInvocationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimAttributes]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[TypeId] [uniqueidentifier] NULL,
	[Privacity] [int] NULL,
	[RelatedClassId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimClasses]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimClasses](
	[Id] [uniqueidentifier] NOT NULL,
	[BaseClassId] [uniqueidentifier] NULL,
	[State] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SimClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimMethods]    Script Date: 6/5/2025 4:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReturnTypeId] [uniqueidentifier] NULL,
	[RelatedClassId] [uniqueidentifier] NOT NULL,
	[Privacity] [int] NOT NULL,
	[Accesibility] [int] NOT NULL,
 CONSTRAINT [PK_SimMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505011038_InitialCreate', N'8.0.4')
GO
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'e991544b-eb56-4316-885a-1981b8f79349', N'Pizza.prepararPizza() -> Pizza.prepararPizza()
    this.prepararMasa() -> Pizza.prepararMasa()
    this.agregarSalsa() -> Pizza.agregarSalsa()
    this.agregarIngredientes() -> PizzaHawaiana.agregarIngredientes()
        JamonAnanaQueso.condimentar() -> PizzaHawaiana.condimentar()
    this.hornearPizza() -> Pizza.hornearPizza()
', N'Pizza', N'PizzaHawaiana')
INSERT [dbo].[ExecutionLogs] ([Id], [Execution], [Reference], [ObjectCreate]) VALUES (N'fa664358-6c4e-4140-8075-340304d737ff', N'Pizza.prepararPizza() -> Pizza.prepararPizza()
    this.prepararMasa() -> Pizza.prepararMasa()
    this.agregarSalsa() -> Pizza.agregarSalsa()
    this.agregarIngredientes() -> PizzaHawaiana.agregarIngredientes()
        pepperoniQueso.condimentar() -> PizzaHawaiana.condimentar()
    this.hornearPizza() -> Pizza.hornearPizza()
', N'Pizza', N'PizzaHawaiana')
GO
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'e42f5d02-a2dc-4327-a647-007797438b45', N'30e41a88-6d41-42c5-ae2f-ba93e46d24f5', N'47acbfc5-5353-4ef3-8f38-0839f9df5065', N'4c6d2fed-21ff-4680-8af2-da78a90200c2', 0)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'f388e613-69da-4fb8-823b-00cd9f00a66d', N'199437ed-2161-453d-8ea0-9feaeedea92c', N'6d61e9e8-a713-481b-a622-b522f735b908', N'ff417be9-6bdc-4076-bf73-d877fe50efb9', 3)
INSERT [dbo].[Invocations] ([Id], [ReferenceId], [SignatureId], [RelatedMethodId], [Index]) VALUES (N'd7b8e48b-8774-43dd-9bed-0893cf6e4efa', N'5aa71854-a7d9-445c-b66c-ebee25226c13', N'6400076d-c3fa-4a23-9f56-e3ff37dd8a54', N'9ab1bab5-f50e-4a8f-8c66-a0b609336064', 3)
GO
INSERT [dbo].[LocalVariables] ([Id], [TypeId], [RelatedMethodId], [Name]) VALUES (N'fa0dfeba-ae8a-4097-9468-3e7212d2a087', N'2f985d66-5f07-46c3-9617-e2ecd52ebb33', N'4c6d2fed-21ff-4680-8af2-da78a90200c2', N'JamonAnanaQueso')
INSERT [dbo].[LocalVariables] ([Id], [TypeId], [RelatedMethodId], [Name]) VALUES (N'14ad41a4-5233-4cb5-bcbe-599c346c6321', N'923f529c-0eee-4ae6-8985-1fe8b0f6ed65', N'ab6b9993-0ea8-4725-88ca-6a3d7ca08a95', N'pepperoniQueso')
INSERT [dbo].[LocalVariables] ([Id], [TypeId], [RelatedMethodId], [Name]) VALUES (N'7ebd2188-850e-49b8-910f-e436b6f0a054', N'60c010bb-5244-4e67-ad5a-c3a8fdb38aac', N'52970f0e-749d-4a9a-bbbc-51c46852d5ac', N'input')
GO
INSERT [dbo].[Parameters] ([Id], [TypeId], [RelatedMethodId], [Index], [Name]) VALUES (N'50392bd3-5094-424e-9c49-027eb7b081f8', N'33981e36-b307-4c13-9dc1-b592ecf58d8b', N'e5ee2f19-e4e6-4ee4-a448-c92789abcfe3', 0, N'usuario')
INSERT [dbo].[Parameters] ([Id], [TypeId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-1111-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-1111-1111-1111-111111111111', 0, N'obj')
INSERT [dbo].[Parameters] ([Id], [TypeId], [RelatedMethodId], [Index], [Name]) VALUES (N'66666666-2222-1111-1111-111111111111', N'11111111-1111-1111-1111-111111111111', N'55555555-2222-1111-1111-111111111111', 0, N'objA')
GO
INSERT [dbo].[ParameterSignatures] ([Id], [TypeId], [SignatureId], [Index], [Name]) VALUES (N'a0f5df93-ab9e-47ab-8626-599ca603426a', N'44444444-1111-1111-1111-111111111111', N'7c793b37-ac3a-4f3f-87c6-d8cbd5324860', 0, N'string')
INSERT [dbo].[ParameterSignatures] ([Id], [TypeId], [SignatureId], [Index], [Name]) VALUES (N'bef27518-63f9-49f6-b645-62d640bc7cda', N'cd8f2ab5-de49-4e85-b7a4-54bd621f8dc0', N'4e38c0e4-f72d-4010-a5b5-ed767589ee88', 0, N'cliente')
INSERT [dbo].[ParameterSignatures] ([Id], [TypeId], [SignatureId], [Index], [Name]) VALUES (N'0dfd95fd-a8b6-40e5-b883-799050520d8e', N'44444444-1111-1111-1111-111111111111', N'6400076d-c3fa-4a23-9f56-e3ff37dd8a54', 0, N'mensaje')
GO
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'565152f8-dff6-44c7-8c07-01ec6b45f3be', N'ec28ad3a-e69c-486a-bd0b-ae5b7c0ec83e', N'Attribute', N'20ab6572-2c16-4bc8-b73c-7de8cdd9170e', NULL, NULL, NULL, NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'442e1243-710a-425e-97e7-0cdc83c34365', N'c76e58a1-9d72-4076-9814-539745ad0099', N'This', NULL, NULL, NULL, N'51f62975-7469-429a-860d-d9be8133ff21', NULL)
INSERT [dbo].[References] ([Id], [RelatedInvocationId], [ReferenceType], [ReferenceId], [ReferenceBase_ReferenceId], [ReferenceParameter_ReferenceId], [ReferenceThis_ReferenceId], [ReferenceVariable_ReferenceId]) VALUES (N'bce6c086-ad65-4639-9d45-107677853537', N'4558da0c-d3c0-4ccb-91ee-993f53ce7314', N'Variable', NULL, NULL, NULL, NULL, N'14ad41a4-5233-4cb5-bcbe-599c346c6321')
GO
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'71c14d7f-c887-466b-9ba9-02c8adee85cf', N'a99f4d63-e705-476b-b453-a63de1d13f65', N'EnviarNotificacion')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'b8a07779-b736-485a-a724-05f390bf4f9d', N'a27b27ea-97da-4d5c-ada3-d3b16aed812c', N'ToString')
INSERT [dbo].[Signatures] ([Id], [RelatedInvocationId], [Name]) VALUES (N'47acbfc5-5353-4ef3-8f38-0839f9df5065', N'e42f5d02-a2dc-4327-a647-007797438b45', N'condimentar')
GO
INSERT [dbo].[SimAttributes] ([Id], [TypeId], [Privacity], [RelatedClassId], [Name]) VALUES (N'd3ccb784-d17f-4f5c-b606-152fc1d7a134', N'22223222-2222-2222-2222-222222222222', 0, N'd87fe0fe-ca69-4952-a387-7f9c31d6f822', N'inventarioDisponible')
INSERT [dbo].[SimAttributes] ([Id], [TypeId], [Privacity], [RelatedClassId], [Name]) VALUES (N'b2f22bb8-5f81-46a8-bd10-4bfb42a7de3a', N'33333333-7777-1111-1111-111111111111', 2, N'cd8f2ab5-de49-4e85-b7a4-54bd621f8dc0', N'Id')
INSERT [dbo].[SimAttributes] ([Id], [TypeId], [Privacity], [RelatedClassId], [Name]) VALUES (N'20ab6572-2c16-4bc8-b73c-7de8cdd9170e', N'10678b1c-7b4c-433e-95ce-08abd98b035a', 0, N'7318004c-ed47-4ded-a2e1-032c87b273a2', N'motorAuto')
GO
INSERT [dbo].[SimClasses] ([Id], [BaseClassId], [State], [Name]) VALUES (N'7318004c-ed47-4ded-a2e1-032c87b273a2', N'11111111-1111-1111-1111-111111111111', 2, N'Auto')
INSERT [dbo].[SimClasses] ([Id], [BaseClassId], [State], [Name]) VALUES (N'10678b1c-7b4c-433e-95ce-08abd98b035a', N'11111111-1111-1111-1111-111111111111', 2, N'Motor')
INSERT [dbo].[SimClasses] ([Id], [BaseClassId], [State], [Name]) VALUES (N'f1405a7f-a3f6-4127-9e56-0e2f75beb4f8', N'11111111-1111-1111-1111-111111111111', 2, N'Comunicacion')
GO
INSERT [dbo].[SimMethods] ([Id], [Name], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility]) VALUES (N'81edd31e-552b-4522-af73-03851836f694', N'Preparar', N'22222222-2222-2222-2222-222222222222', N'51f62975-7469-429a-860d-d9be8133ff21', 0, 2)
INSERT [dbo].[SimMethods] ([Id], [Name], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility]) VALUES (N'6038efdb-1bb2-4dcd-b70d-092fe6e69392', N'ValidarIdentidad', N'22223222-2222-2222-2222-222222222222', N'cd8f2ab5-de49-4e85-b7a4-54bd621f8dc0', 2, 2)
INSERT [dbo].[SimMethods] ([Id], [Name], [ReturnTypeId], [RelatedClassId], [Privacity], [Accesibility]) VALUES (N'55555555-1111-1111-1111-111111111111', N'Equals', N'22223222-2222-2222-2222-222222222222', N'11111111-1111-1111-1111-111111111111', 2, 2)
GO
/****** Object:  Index [IX_Invocations_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invocations_ReferenceId] ON [dbo].[Invocations]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invocations_RelatedMethodId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_Invocations_RelatedMethodId] ON [dbo].[Invocations]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_RelatedMethodId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_RelatedMethodId] ON [dbo].[LocalVariables]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalVariables_TypeId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_LocalVariables_TypeId] ON [dbo].[LocalVariables]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_RelatedMethodId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_RelatedMethodId] ON [dbo].[Parameters]
(
	[RelatedMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parameters_TypeId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_Parameters_TypeId] ON [dbo].[Parameters]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_SignatureId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_SignatureId] ON [dbo].[ParameterSignatures]
(
	[SignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParameterSignatures_TypeId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_ParameterSignatures_TypeId] ON [dbo].[ParameterSignatures]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceBase_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceBase_ReferenceId] ON [dbo].[References]
(
	[ReferenceBase_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceId] ON [dbo].[References]
(
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceParameter_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceParameter_ReferenceId] ON [dbo].[References]
(
	[ReferenceParameter_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceThis_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceThis_ReferenceId] ON [dbo].[References]
(
	[ReferenceThis_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_References_ReferenceVariable_ReferenceId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_References_ReferenceVariable_ReferenceId] ON [dbo].[References]
(
	[ReferenceVariable_ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_RelatedInvocationId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Signatures_RelatedInvocationId] ON [dbo].[Signatures]
(
	[RelatedInvocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_RelatedClassId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_RelatedClassId] ON [dbo].[SimAttributes]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimAttributes_TypeId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_SimAttributes_TypeId] ON [dbo].[SimAttributes]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimClasses_BaseClassId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_SimClasses_BaseClassId] ON [dbo].[SimClasses]
(
	[BaseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_RelatedClassId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_RelatedClassId] ON [dbo].[SimMethods]
(
	[RelatedClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SimMethods_ReturnTypeId]    Script Date: 6/5/2025 4:22:53 ******/
CREATE NONCLUSTERED INDEX [IX_SimMethods_ReturnTypeId] ON [dbo].[SimMethods]
(
	[ReturnTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invocations] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[ParameterSignatures] ADD  DEFAULT ((0)) FOR [Index]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_References_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[References] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_References_ReferenceId]
GO
ALTER TABLE [dbo].[Invocations]  WITH CHECK ADD  CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Invocations] CHECK CONSTRAINT [FK_Invocations_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimClasses_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimClasses_TypeId]
GO
ALTER TABLE [dbo].[LocalVariables]  WITH CHECK ADD  CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[LocalVariables] CHECK CONSTRAINT [FK_LocalVariables_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimClasses_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimClasses_TypeId]
GO
ALTER TABLE [dbo].[Parameters]  WITH CHECK ADD  CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId] FOREIGN KEY([RelatedMethodId])
REFERENCES [dbo].[SimMethods] ([Id])
GO
ALTER TABLE [dbo].[Parameters] CHECK CONSTRAINT [FK_Parameters_SimMethods_RelatedMethodId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signatures] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_Signatures_SignatureId]
GO
ALTER TABLE [dbo].[ParameterSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ParameterSignatures_SimClasses_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[ParameterSignatures] CHECK CONSTRAINT [FK_ParameterSignatures_SimClasses_TypeId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId] FOREIGN KEY([ReferenceVariable_ReferenceId])
REFERENCES [dbo].[LocalVariables] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_LocalVariables_ReferenceVariable_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId] FOREIGN KEY([ReferenceParameter_ReferenceId])
REFERENCES [dbo].[Parameters] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_Parameters_ReferenceParameter_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimAttributes_ReferenceId] FOREIGN KEY([ReferenceId])
REFERENCES [dbo].[SimAttributes] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimAttributes_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId] FOREIGN KEY([ReferenceBase_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceBase_ReferenceId]
GO
ALTER TABLE [dbo].[References]  WITH CHECK ADD  CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId] FOREIGN KEY([ReferenceThis_ReferenceId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[References] CHECK CONSTRAINT [FK_References_SimClasses_ReferenceThis_ReferenceId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId] FOREIGN KEY([RelatedInvocationId])
REFERENCES [dbo].[Invocations] ([Id])
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_Invocations_RelatedInvocationId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimAttributes]  WITH CHECK ADD  CONSTRAINT [FK_SimAttributes_SimClasses_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimAttributes] CHECK CONSTRAINT [FK_SimAttributes_SimClasses_TypeId]
GO
ALTER TABLE [dbo].[SimClasses]  WITH CHECK ADD  CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId] FOREIGN KEY([BaseClassId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimClasses] CHECK CONSTRAINT [FK_SimClasses_SimClasses_BaseClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId] FOREIGN KEY([RelatedClassId])
REFERENCES [dbo].[SimClasses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_RelatedClassId]
GO
ALTER TABLE [dbo].[SimMethods]  WITH CHECK ADD  CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId] FOREIGN KEY([ReturnTypeId])
REFERENCES [dbo].[SimClasses] ([Id])
GO
ALTER TABLE [dbo].[SimMethods] CHECK CONSTRAINT [FK_SimMethods_SimClasses_ReturnTypeId]
GO
USE [master]
GO
