<div class="attribute-card">
    <div class="attribute-header">
        <span class="attribute-title">Attribute</span>
    </div>

    <div class="form-row">
        <input type="text" [(ngModel)]="attribute.name" (change)="onNameChanged($event)" placeholder="Name"
            class="compact-input">
    </div>

    <div class="form-row">
        <app-class-selector [labelText]="'Reference Type'" (classSelected)="onClassReferenceSelected($event)"
            [reload]="loading">
        </app-class-selector>
    </div>

    <div class="form-row">
        <app-class-selector [labelText]="'Instance Type'" (classSelected)="onClassInstanceSelected($event)"
            [reload]="loading">
        </app-class-selector>
    </div>

    <div class="form-row">
        <app-privacity-selector [labelText]="'Visibility'" (privacitySelected)="onPrivacitySelected($event)">
        </app-privacity-selector>
    </div>

    <div class="form-row checkbox-row">
        <mat-checkbox [(ngModel)]="attribute.isStatic" (change)="onStaticChanged($event)">
            Static
        </mat-checkbox>
    </div>
</div>