<mat-card *ngIf="isError" class="parameter-card error-card">
    <div class="param-content">
      <div class="param-icon error-icon">
        <mat-icon>error_outline</mat-icon>
      </div>
      
      <div class="param-details">
        <div class="param-name">Error</div>
        <div class="error-message">{{ error?.message }}</div>
        
        <div *ngIf="error?.innerCode !== undefined" class="error-code">
          Código: {{ error?.innerCode }}
        </div>
      </div>
    </div>
  </mat-card>
  
  <mat-card *ngIf="parameter && !isError" class="parameter-card">
    <div class="param-content">
      <div class="param-icon">
        <mat-icon>code</mat-icon>
      </div>
      
      <div class="param-details">
        <div class="param-name">{{ parameter.name }}</div>
        
        <div class="param-type" 
             [matTooltip]="parameter.referenceId || 'unknown type'" 
             [matTooltipDisabled]="!hasReferenceType">
          <mat-chip-option [selected]="hasReferenceType" [disabled]="true" color="accent">
            {{ shortTypeName }}
          </mat-chip-option>
        </div>
      </div>
      
      <div class="param-id" [matTooltip]="'ID: ' + parameter.id">
        <small>#{{ parameter.id.substring(0, 8) }}</small>
      </div>
    </div>
  </mat-card>