<mat-card class="main-container">
    <mat-card-title>List of methods</mat-card-title>
    <mat-card-content>
        <div class="list-methods-container">
            @for (methodItem of methodList; track methodItem.id) {
            <mat-card class="method-card">
                <mat-card-title>{{ methodItem.name }} ({{methodItem.class}})</mat-card-title>

                <mat-card-content>
                    <div>
                            <p>Signature: {{ methodItem.displayText }} </p>
                    </div>
                
                    <div>
                        @if (methodItem.variables.length !== 0) {
                            <p>Local variables:</p>
                            <ul>
                                @for (localVar of methodItem.variables; track localVar) {
                                <li>{{ localVar.name }} {{ localVar.reference }} {{ localVar.instance }}</li>
                                }
                            </ul>
                        }
                    </div>

                    <div>
                        @if (methodItem.invocations.length !== 0) {
                            <p>Invocations:</p>
                            <ul>
                                @for (invocation of methodItem.invocations; track invocation) {
                                <li>{{ invocation }}</li>
                                }
                                </ul>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
            }
        </div>
    </mat-card-content>
</mat-card>